<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
</head>

<body>
    <h1>How many numbers do you wish to generate?</h1>
    <form action="/result" method="get">
    <!-- action takes you to the page you want to go -->
        <input type="number" name="n" id="number" min="1" max="30" required="true">
        <!-- name is the key name for the data sent to the model, while the value is the answer in the input -->
        <input type="submit" value="Generate">
    </form>

    <br><br><div>Go back to <a href="/">home</a></div>
</body>

</html>