<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Welcome! What would you like to do?</h1>
    <div>
        <h2><a href="/number-generator">Generate random numbers</a></h2>
        <p>This tool will give you a range of images showing the random numbers you have generated.</p>
    </div>
    <br>
    <div>
        <h2><a href="/registration">Register your contact</a></h2>
        <p>This tool will register your contact details in an address book which you may later access.</p>
    </div>
</body>

</html>